# Rust build output
/target/

# Vigrep local index files
/.vigrep.x
/.vigrep.x-shm
/.vigrep.x-wal

# Editor and OS noise
*.swp
*.swo
*~
.DS_Store

# Rust backup files
**/*.rs.bk


#mandm_sample_text_large.txt

Cargo.lock
